[Desktop Entry]
Version=1.0
Name=DeLinuxCo
Comment=DeLinuxCo main website
Exec=chromium --app="https://www.delinuxco.com/afterinstall" --class=WebApp-DeLinuxCo8829 --name=WebApp-DeLinuxCo8829 --user-data-dir=/home/delinuxco/.local/share/ice/profiles/DeLinuxCo8829
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=DeLinuxCo.png
Categories=GTK;WebApps;
MimeType=text/html;text/xml;application/xhtml_xml;
StartupWMClass=WebApp-DeLinuxCo8829
StartupNotify=true
X-WebApp-Browser=Chromium
X-WebApp-URL=https://www.delinuxco.com/afterinstall
X-WebApp-CustomParameters=
X-WebApp-Navbar=false
X-WebApp-PrivateWindow=false
X-WebApp-Isolated=true

