[Desktop Entry]
Name[en_US]=LocalSend
Comment[en_US]=An open source cross-platform alternative to AirDrop
Keywords=Share files device to device
Type=Application
Exec=/opt/appimages/LocalSend.AppImage --hidden
Icon=localsend
Terminal=false
Categories=Utility;
X-GNOME-Autostart-enabled=true
NoDisplay=false
Hidden=false
X-GNOME-Autostart-Delay=1
